In [2]:
#handling imbalance dataset
#upsampling
#downsampling

# upsampling

In [3]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

print(n_class_0)
print(n_class_1)

900
100

In [7]:
class_0=pd.DataFrame({
      'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
      'feature_2': np.random.normal(loc=0,scale=1,size=n_class_0),
      'target':[0]*n_class_0
})

class_1=pd.DataFrame({
      'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
      'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
      'target':[1]*n_class_1
})

In [10]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [11]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [13]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [14]:
df.shape

(1000, 3)

In [15]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [17]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [19]:
df_majority.shape

(900, 3)

In [20]:
df_minority.shape

(100, 3)

In [23]:
from sklearn.utils import resample

df_minority_upsampled=resample(df_minority,replace=True,#adding samples to the manority,
                               n_samples=len(df_majority),
                               random_state=42)

In [24]:
df_minority_upsampled.shape

(900, 3)

In [25]:
df_minority_upsampled['target'].value_counts()

1    900
Name: target, dtype: int64

In [27]:
df_upsampled=pd.concat([df_minority_upsampled,df_majority])

In [28]:
df_upsampled['target'].value_counts()

1    900
0    900
Name: target, dtype: int64

# downsampling

In [29]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

0    900
1    100
Name: target, dtype: int64

In [30]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [31]:
from sklearn.utils import resample

df_majority_downsampled=resample(df_majority,replace=False,
                               n_samples=len(df_minority),
                               random_state=42)

In [33]:
df_majority_downsampled.shape

(100, 3)

In [34]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority])

In [36]:
df_downsampled['target'].value_counts()

0    100
1    100
Name: target, dtype: int64

In [37]:
df_downsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0