In [10]:
#label encoding 
import pandas as pd

In [19]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [20]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
lbl_encoder=LabelEncoder()

In [33]:
df['color_encoder']=lbl_encoder.fit_transform(df['color'])

In [35]:
df

   color  color_encoder
0    red              2
1   blue              0
2  green              1
3  green              1
4    red              2
5   blue              0

In [37]:
lbl_encoder.transform(['green'])

array([1])

In [38]:
lbl_encoder.transform(['red'])

array([2])

In [39]:
lbl_encoder.transform(['blue'])

array([0])

In [40]:
#ordinal encoding

In [41]:
import pandas as pd

In [42]:
from sklearn.preprocessing import OrdinalEncoder

In [43]:
df=pd.DataFrame({
    'size':['small','large','medium','medium','small','large']
})

In [44]:
df

     size
0   small
1   large
2  medium
3  medium
4   small
5   large

In [45]:
ord_encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [47]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.]])

In [49]:
ord_encoder.transform([['small']])

array([[0.]])

In [50]:
ord_encoder.transform([['large']])

C:\Users\chand\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

In [51]:
ord_encoder.transform([['medium']])

C:\Users\chand\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])